{% load custom_tags %}

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand"
         {% if user.is_authenticated %}
         href="{% url 'post-list' %}"
         {% else %}
         href="{% url 'index' %}"
         {% endif %}
      ><i class="fas fa-ship"></i> Ripple</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
                <a class="inbox-icon" href="{% url 'explore' %}">
                    <i class="far fa-compass"></i>
                </a>
            </li>
        </ul>
        <form class="d-flex" method="GET" action="{% url 'profile-search' %}">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="query" value="{{ request.GET.query }}">
            <button class="remove-default-btn" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>
        {% if user.is_authenticated %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-user"></i></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'profile' request.user.profile.pk %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
          </ul>
        </div>
        <div class="nav-item inbox-icon-container">
          <a href="{% url 'inbox' %}" class="inbox-icon"><i class="far fa-paper-plane"></i></a>
        </div>
        <div class="nav-item">
          {% show_notifications %}
        </div>
        {% endif %}

        <a class="navbar-brand">
            <i class="fas fa-palette" id="theme-icon" style="cursor: pointer; margin-left: 10px;"></i>
        </a>

        <div class="speech-bubble" id="speech-bubble" style="display: none; position: absolute; z-index: 1000;">
          <p style="color: black;">Select a theme:</p>
          <div style="display: flex; flex-direction: column;">
           <button class="theme-button" data-theme="dark">Dark Theme</button>
            <button class="theme-button" data-theme="light">Light Theme</button>
            <button class="theme-button" data-theme="blue">Blue Theme</button>
            <button class="theme-button" data-theme="green">Green Theme</button>
            <button class="theme-button" data-theme="red">Red Theme</button>
            <button class="theme-button" data-theme="yellow">Yellow Theme</button>
            <button class="theme-button" data-theme="purple">Purple Theme</button>
            <button class="theme-button" data-theme="orange">Orange Theme</button>
            <button class="theme-button" data-theme="pink">Pink Theme</button>
            <button class="theme-button" data-theme="grey">Grey Theme</button>
            <button class="theme-button" data-theme="brown">Brown Theme</button>

          </div>
        </div>

        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const themeIcon = document.getElementById('theme-icon');
            const speechBubble = document.getElementById('speech-bubble');

            let isSpeechBubbleVisible = false;

            themeIcon.addEventListener('click', () => {
              if (!isSpeechBubbleVisible) {
                speechBubble.style.position = 'fixed';

                const rect = themeIcon.getBoundingClientRect();
                speechBubble.style.top = `${rect.top + rect.height}px`;
                speechBubble.style.right = '10px';

                speechBubble.style.display = 'block';

                speechBubble.style.width = '200px';

                isSpeechBubbleVisible = true;
              } else {
                speechBubble.style.display = 'none';
                isSpeechBubbleVisible = false;
              }
            });

          });
        </script>
      </div>
    </div>


  </nav>
</div>