{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'post-list' %}" class="btn btn-dark">Back To Feed</a>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12">
                 {% if tag %}
                    <h3>Explore #{{ tag.name }} Posts</h3>
                    <p class="mb-3">Most recent posts tagged with {{ tag.name }}</p>
                 {% else %}
                    <h3>Explore Posts</h3>
                    <p class="mb-3">Explore Tags to find new posts</p>
                 {% endif %}

                 <form method="POST" class="mb=5">
                    {% csrf_token %}
                    {{ explore_form | crispy }}
                 </form>
            </div>
        </div>
    </div>

    {% for post in posts %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <div>
                    <p class="post-text">
                                <a href="{% url 'profile' post.author.profile.pk %}">
                            <img class="rounded-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}" />
                        </a>
                        <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}
                    </p>
                </div>
                <div class="col-md-8 col-sm-12 border-bottom">
                <div class="position-relative">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="post-image" alt="">
                    {% endif %}
                    <div class="body">
                        <p>{{ post.body }}</p>
                    </div>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>

                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                        </button>
                    </form>

                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
</div>

{% endblock content %}